<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShareSpot | Doações</title>
        <link rel="icon" type="image/png" href="../imgs/logo_2.png"/>
        <link rel="stylesheet" href="../styles/styles.css">
        <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
        <script src="../scripts/barra-nav-script.js"></script>
    </head>
    <body>
        <div id="link-navbar"></div> <!-- Div onde a barra de navegação será carregada -->

         <section class="banner">
            <div class="texto-banner">
                <h1>Faça o bem agora</h1>
                <p>Visualize e resgate as doações disponíveis abaixo, ou faça a sua!</p>
            </div>
        </section>

        <h1 class="ttl-doacoes">Doações</h1>
        <div class="catalogo" id="catalogo">
            <ul class="lista-itens">
                <% donations.forEach(donation => { %>
                <li class="item">
                    <div class="imagem-doacao">
                        <img src="/upload/<%=donation.imageName%>" alt="Imagem da Doação">
                    </div>
                    <div class="info-item">
                        <h3 class="nome-item"><%= donation.itemType %></h3>
                        <p class="condicao-item">Estado: <%= donation.condition %></p>
                        <p class="descricao-item">" <%= donation.description %> "</p>
                        <span class="linha-doador">
                            <p class="nome-doador"><%= donation.donator %></p>
                            <button class="botao-resgatar" id="btn-resgatar">Resgatar</button>
                        </span>
                    </div>
                </li>
                <%
                }); %>
            </ul>
        </div>

        <button class="btn-adicionar" id="btn-adicionar">
            <a href="/cadastrar-doacao">Adicionar uma doação</a>
        </button>

        <div class="popup" id="popup-resgatar">
            <div class="popup-conteudo">
                <i class='bx  bx-message-circle-question-mark' id="popup-icone"></i> 
                <p id="popup-txt">Deseja resgatar esse item?</p>
                <div class="popup-btn">
                    <% donations.forEach(donation => { %>
                        <a id="btn-confirmar" href="/resgatar/<%=donation.id%>" >Confirmar</a>
                        <button id="btn-cancelar">Cancelar</button>
                    <%
                    }); %>
                </div>
                <button id="btn-fechar">Fechar</button>
            </div>
        </div>

        <script src="../scripts/doacoes-script.js"></script>
    </body>
    
</html>